*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/generated/
/app/build/intermediates/
/app/build/kotlin/
/app/build/outputs/
/app/build/tmp/
/app/build/gmpAppId.txt
